/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/10/2016, 09:28:17 PM
    Author     : robinson
*/

/* Header */
.noticias{
  
    
}
.noticia-titular {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.noticia-contenido{
    background-color: #666666;
    font-size: 12px;
    font-weight: bold;
   

}

.noticia-titulo {
    font-size:0px;
    background-color:#666666;
    color:#ffffff;
    margin:0;
}
.noticia-subtitulo{
    padding: 0 0;
    color:#c9302c;
    margin:0;
    font-size: 12px;
    
    
}

.noticia-fecha{
   border:0;
   color:#666666;
   font-size:8px;
   text-align: right;
 }
